<div class="container">
  <div class="row my-5">
    <div class="col-2"></div>
    <div class="col-7 mx-auto">
      <%= render "public/events/index", events: @events %>
      <div class="row justify-content-center mt-5">
        <%= paginate @events %>
      </div>
    </div>
    <div class="col-3 pl-5">
      <!--タグリスト-->
      <%= render "public/events/tag_index", tag_list: @tag_list, events: @events %>
    </div>
  </div>
</div>