<div class="container">
  <h3 class="my-5 border-bottom text-center"><span>タグ検索結果</span></h3>
  <div class="row my-5">
    <div class="col-2"></div>
    <div class="col-6 mx-auto">
      <%= render "public/events/index", events: @events %>
      <div class="row justify-content-center mt-5">
        <%= paginate @events %>
      </div>
    </div>
    <div class="col-3">
      <div class="search_form">
        <h5 class="mb-2 border-bottom text-center"><span>イベント検索</span></h5>
        <%= render 'layouts/search' %>
      </div>
      <!--タグリスト-->
      <div class="mt-5">
        <h5 class="mb-2 border-bottom text-center"><span>タグで絞り込み</span></h5>
        <%= render "public/events/tag_index", tag_list: @tag_list, events: @events %>
      </div>
    </div>
  </div>
</div>