<% if groups.present? %> <!--グループ一覧-->
<h2>Groups</h2>
<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>グループ名</th>
    </tr>
  </thead>
  <tbody>
    <% groups.each do |group| %>
    <tr>
      <td><%= group.name %> (<%= group.users.count %>)</td>
      <td>
        <% if group.users.include?(current_user) %>
          <%= link_to "chatを始める", event_group_path(group.event, group), class: "btn btn-sm btn-info rounded-pill",data: {"turbolinks"=>false} %>
        <% else %>
          <%= link_to '参加する', event_group_join_path(group.event, group), class: "btn btn-sm btn-success rounded-pill",data: {"turbolinks"=>false} %>
        <% end %>
      </td>
    </tr>
    <% end%>
  </tbody>
</table>
<% else %>
  <p class="mt-3">グループチャットを始めてみましょう！</p>
  <p>まずはグループを作成しましょう</p>
<% end %>