<div class='container'>
  <div class='row my-5'>
    <div class='col-lg-7'>
      <h2>グループチャット</h2>
      <!--チャットフォーム-->
      <div>

        <%= render 'public/chats/form', chat: @chat, group: @group %> <!--チャットの新規作成-->

        <% if @chats.present? %>
          <div id="chats_area">
            <% @chats.each do |chat| %> <!--チャット履歴の表示-->
              <%= render 'public/chats/group_chats', chat: chat %>
            <% end %>
            <div class="row justify-content-center mt-5">
              <%= paginate @chats %>
            </div>
          </div>
        <% else %>
          <p>チャットはまだありません</p>
        <% end %>
      </div>
    </div>
    <div class="col-5">
      <%= render 'public/chats/chat_members', group: @group %>
    </div>
  </div>
</div>