<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12 mx-6 mx-sm-auto px-auto my-5">
      <h2 class="mb-5 border-bottom text-center"><span>管理者ログイン</span></h2>

      <%= form_with model: @admin, url: admin_session_path do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class:"form-control form-control-lg mb-3" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class:"form-control form-control-lg mb-3" %>
        </div>

        <div class="actions text-center">
          <%= f.submit "ログイン", class:"btn btn-success btn-lg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>