<div class="">
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
    <div class="mx-auto col-11 my-5">
      <h1><strong>イベンチャー</strong>へようこそ！</h1>
      <p>イベンチャーでは、あなたの求めるイベント情報が見つかります！</p>
      <p>イベント参加前のワクワクをグループチャットで仲間と共有しましょう！</p>
      <div><%= link_to "アカウント作成", new_user_registration_path, class: "btn btn-info btn-sm mb-3" %></div>
    </div>
  </div>
</div>