<div>
  <% @event_comments.each do |event_comment| %>
    <%= event_comment.user.name %>
    |
    <%= event_comment.event.name %>
    |
    <%= event_comment.comment %>
    <%= link_to "削除", admin_event_comment_path(event_comment.id), method: :delete do %>
      <i class="fas fa-trash-alt"></i><br/>
    <% end %>
  <% end %>
</div>