<div class="d-flex mb-3"> <!--チャット一覧-->
  <div>
    <%= image_tag chat.user.get_profile_image, size: "50x50", class: "rounded-circle mr-2" %>
  </div>
  <div class="d-flex flex-column">
    <div><%= chat.user.name %></div>
    <div class="text-break"><%= chat.message %></div>
  </div>
</div>