/*button_linkの変更*/
.button_border_none {
  border: none;
  background: transparent;
}

/*.container {*/
/*  background-color: #e6e6fa !important;*/
/*}*/

/*ページネーションデザイン修正*/
.pagination>li>a {
  border: none;
}

.pagination>.active>a {
    background-color: #93c9ff !important;
    border-color: #93c9ff !important;
  }
