/*フッター固定*/
html, body { height: 100%;}

body > footer {
  position: sticky;
  top: 100vh;
}

header {
  background-color: #159895;
}

footer {
  background-color: #57C5B6;
}


/*button_linkの変更*/
.button_border_none {
  border: none;
  background: transparent;
}

/*ページネーションデザイン修正*/
.pagination>li>a {
  border: none;
}

.pagination>.active>a {
    background-color: #93c9ff !important;
    border-color: #93c9ff !important;
  }

/*画像を変形させずに表示*/
.img-container img {
  object-fit: cover;
}

.card-body {
  background-color: #f8f8ff;
}
