<footer class="text-center text-white pt-4 pb-5">
   <div class="container mt-4">
     <div class="mx-auto">
       <p><%= link_to "© 2023 Evencher", new_admin_session_path, class: "text-reset" %></p>
     </div>
   </div>
</footer>